.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  height: 90vh;
  background-size: cover;
  padding: 100px 40px;
}

.main-title {
  font-family: 'Roboto';
  font-size: 64px;
  font-weight: 600;
  color: #ffffff;
}

.description {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 400;
  color: #ffffff;
  width: 550px;
}

.jobs-button {
  padding: 8px 25px 8px 25px;
  background-color: #6366f1;
  outline: none;
  border: none;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  border-radius: 8px;
}
